@model Transporte.ViewModel.TransportCreateViewModel

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //string Usuario = Model.Usuario == null ? null : Model.Usuario.Nombreusuario;

}

<style>
    .btn-sm {
        font-size: 12px;
        height: 30px;
        margin-bottom: 3px;
    }


    .ck-sm {
        font-size: 12px;
    }

    .select2 {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }


    .sol-container {
        padding: 0px;
    }

    .red {
        color: #a94442;
    }

    .color-well {
        background-color: ghostwhite;
    }

    .btn-mas.fa-plus {
        color: #FFFFFF;
        background-color: #30ced6;
        border-radius: 20px;
        padding: 6px 1px 4px 1px;
        font-size: 14px;
    }

    .btn-mas {
        cursor: pointer;
        margin: 0px;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
        width: 25px;
        height: 25px;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .btn-mas.fa-trash {
        color: #FFFFFF;
        background-color: #a02789;
        border-radius: 20px;
        padding: 6px 1px 4px 1px;
        font-size: 14px;
    }


    .title {
        color: black;
        padding-top: 10px;
    }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div class="row">
            <form id="form-create" role="form">
                <div class="col-lg-12">
                    <!-- /.Panel de Datos de Alta -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="well">
                                <div class="well-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label>Tipo</label><span class="red"> * </span>
                                                @Html.DropDownListFor(model => model.TransportTypeId, new SelectList(ViewBag.listaTipos, "Id", "Descripcion"), "Seleccione...", new { @class = "form-control input-sm", id = "TransportTypeId" })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>N° Parada</label>
                                                @Html.EditorFor(model => model.ParadaNro, new { htmlAttributes = new { @class = "form-control input-sm", id = "ParadaNro" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>N° Plaza</label>
                                                @Html.EditorFor(model => model.PlazaNro, new { htmlAttributes = new { @class = "form-control input-sm", id = "PlazaNro" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Expediente</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Expediente, new { htmlAttributes = new { @class = "form-control input-sm", id = "Expediente" } })
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label>Dominio</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Dominio, new { htmlAttributes = new { @class = "form-control input-sm", id = "Dominio" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Marca</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control input-sm", id = "Marca" } })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Modelo</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control input-sm", id = "Modelo" } })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Fecha Inscrip Inicial</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.FechaInscripcionInicial, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "FechaInscripcionInicial", @type = "datetime" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Fecha Desinfección</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Desinfeccion, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "Desinfeccion", @type = "datetime" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Fecha Constatación</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.Constatacion, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "Constatacion", @type = "datetime" } })
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2">
                                                <label>Vto Poliza</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.VtoPoliza, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "VtoPoliza", @type = "datetime" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>VTV</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.VtoVTV, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "VtoVTV", @type = "datetime" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Vto Matafuego</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.VtoMatafuego, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "VtoMatafuego", @type = "datetime" } })
                                            </div>

                                            <div class="col-sm-2">
                                                <label>Const.Opcion AFIP</label><span class="red"> * </span>
                                                @Html.EditorFor(model => model.VtoConstanciaAFIP, new { htmlAttributes = new { @class = "form-control input-sm input-date", id = "VtoConstanciaAFIP", @type = "datetime" } })
                                            </div>



                                            <div class="col-sm-12">
                                                <label>Observacion</label>
                                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control input-sm", id = "Observaciones" } })
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                @*       TITULARES        *@
                                <div class="row">
                                    <div class="col-lg-12 f-cost">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h4 class="title"><b>Titular/es:</b></h4>
                                                </div>
                                            </div>


                                            <div id="copiedTitulares"></div>

                                            <div id="PanelTitulares" class="card-body">
                                                <div class="well color-well">
                                                    <div class="well-body">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Nombre</label><span class="red"> * </span>
                                                                    <input id="nombre" class="form-control input-sm" type="text" name="Titulares[0].Nombre">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Apellido</label><span class="red"> * </span>
                                                                    <input id="apellido" class="form-control input-sm" type="text" name="Titulares[0].Apellido">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>DNI</label><span class="red"> * </span>
                                                                    <input id="DNI" class="form-control input-sm" type="number" name="Titulares[0].DNI">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Teléfono</label><span class="red"> * </span>
                                                                    <input id="Telefono" class="form-control input-sm" type="number" name="Titulares[0].Telefono">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="input-group">
                                                                    <label>E-mail</label><span class="red"> * </span>
                                                                    <input id="Email" class="form-control input-sm" type="text" name="Titulares[0].Email">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-1 margin-top-15 text-right">
                                                                <span id="AgregarTitular" class="btn-mas fa fa-plus"></span>
                                                                <span id="QuitarTitular" class="btn-mas fa fa-trash"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="input-group">
                                                                    <label>Domicilio Real</label><span class="red"> * </span>
                                                                    <input id="CalleReal" class="form-control input-sm" type="text" name="Titulares[0].CalleReal">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="input-group">
                                                                    <label>Partido Real</label><span class="red"> * </span>
                                                                    <input id="PartidoReal" class="form-control input-sm" type="text" name="Titulares[0].PartidoReal">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="input-group">
                                                                    <label>Domicilio Constituido</label><span class="red"> * </span>
                                                                    <input id="CalleConstituido" class="form-control input-sm" type="text" name="Titulares[0].CalleConstituido">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-3">
                                                                <div class="input-group">
                                                                    <label>Partido Constituido</label><span class="red"> * </span>
                                                                    <input id="PartidoConstituido" class="form-control input-sm" type="text" name="Titulares[0].PartidoConstituido">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                @*       CHOFERES        *@
                                <div class="row">
                                    <div class="col-lg-12 f-cost">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h4 class="title"><b>Chofer/es:</b></h4>
                                                </div>
                                            </div>


                                            <div id="copiedChoferes"></div>

                                            <div id="PanelChoferes" class="card-body">
                                                <div class="well color-well">
                                                    <div class="well-body">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Nombre</label><span class="red"> * </span>
                                                                    <input id="Nombre" class="form-control input-sm" type="text" name="Choferes[0].Nombre">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Apellido</label><span class="red"> * </span>
                                                                    <input id="Apellido" class="form-control input-sm" type="text" name="Choferes[0].Apellido">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>DNI</label><span class="red"> * </span>
                                                                    <input id="DNI" class="form-control input-sm" type="number" name="Choferes[0].DNI">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Fecha Vto Licencia</label><span class="red"> * </span>
                                                                    <input class="form-control input-sm input-date input-width" id="VtoLicencia" type="text" name="Choferes[0].VtoLicencia">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Fecha Vto Libreta</label>
                                                                    <input class="form-control input-sm input-date input-width" id="VtoLibreta" type="text" name="Choferes[0].VtoLibreta">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 margin-top-15 text-right">
                                                                <span id="AgregarChofer" class="btn-mas fa fa-plus"></span>
                                                                <span id="QuitarChofer" class="btn-mas fa fa-trash"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                @*CELADORES*@
                                <div class="row">
                                    <div class="col-lg-12 f-cost">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h4 class="title"><b>Celadora/s:</b></h4>
                                                </div>
                                            </div>


                                            <div id="copiedCeladores"></div>

                                            <div id="PanelCeladores" class="card-body">
                                                <div class="well color-well">
                                                    <div class="well-body">
                                                        <div class="row">
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Nombre</label>
                                                                    <input id="nombre" class="form-control input-sm" type="text" name="Celadores[0].Nombre">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>Apellido</label>
                                                                    <input id="apellido" class="form-control input-sm" type="text" name="Celadores[0].Apellido">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="input-group">
                                                                    <label>DNI</label>
                                                                    <input id="DNI" class="form-control input-sm" type="number" name="Celadores[0].DNI">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="form-group">
                                                                    <label>Fecha Vto Libreta</label>
                                                                    <input class="form-control input-sm input-date input-width" id="VtoLibreta" type="text" name="Celadores[0].VtoLibreta">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 margin-top-15 text-right">
                                                                <span id="AgregarCelador" class="btn-mas fa fa-plus"></span>
                                                                <span id="QuitarCelador" class="btn-mas fa fa-trash"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <input type="button" class="btn btn-default" style="float: right;" value="Salir" onclick="location.href='@Url.Action("Index")'" />
                            <button type="submit" class="btn btn-primary" style="float: right; margin-right:10px">Guardar</button>

                        </div>




                    </div>
                    <!-- /.col-lg-12 -->

            </form>

            <!-- /.form -->
        </div>

        <!-- /.ro -->
    </div>
    <!-- Progress Loader -->
    <div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
        <p style="position: absolute; color: White; top: 35%; left: 45%;">
            <img src="~/Images/loading.gif" alt="Loading..." />
        </p>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    <script>
        var DiasPorVencer = '@ViewBag.DiasPorVencer';
        //$('#dt-FechaIngreso').attr("readonly", "readonly")
        //Datepicker
        $.datetimepicker.setLocale('es');

        $('.input-date').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            scrollInput: false,
            date: new Date(Date.now())
        });

        $('#QuitarTitular').hide();
        $('#QuitarChofer').hide();
        $('#QuitarCelador').hide();

        //Titulares
        $(document).on('click', '#AgregarTitular', function () {
            //Busco el contenedor del boton que hizo click

            var item = $(this).parents('#PanelTitulares').clone(true);

            $(this).closest('#AgregarTitular').hide();
            $(this).parents('#PanelTitulares').find('#QuitarTitular').show();

            //var item = $("div#PanelNovedades.row-Hide").clone(true);
            //var itemHide = $("div#PanelNovedades.row-Hide");



            //Incremento el indice
            $(item).find('input').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
                $this.val('');
            });
            $(item).find('select').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
            });



            //Reemplazo el boton
            $(item).find('#QuitarTitular').hide();
            $(item).find('#AgregarTitular').show();
            //cambio el id
            // $(item).toggleClass('row-Hide row');
            $(item).prependTo('#copiedTitulares');
            $(item).show();

        });

        //CHOFERES
        $(document).on('click', '#AgregarChofer', function () {
            //Busco el contenedor del boton que hizo click

            $(this).parents('#PanelChoferes').find('.input-date').datetimepicker("destroy");

            var item = $(this).parents('#PanelChoferes').clone(true);

            $(this).parents('#PanelChoferes').find('.input-date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                scrollInput: false,
                date: new Date(Date.now())
            });

            $(item).find('.input-date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                scrollInput: false,
                date: new Date(Date.now())
            });

            $(this).closest('#AgregarChofer').hide();
            $(this).parents('#PanelChoferes').find('#QuitarChofer').show();
            

            //Incremento el indice
            $(item).find('input').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
                $this.val('');
            });
            $(item).find('select').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
            });

            

            //Reemplazo el boton
            $(item).find('#QuitarChofer').hide();
            $(item).find('#AgregarChofer').show();
            //cambio el id
            // $(item).toggleClass('row-Hide row');
            $(item).prependTo('#copiedChoferes');
            $(item).show();

        });


        //CELADORAS
        $(document).on('click', '#AgregarCelador', function () {
            //Busco el contenedor del boton que hizo click

            $(this).parents('#PanelCeladores').find('.input-date').datetimepicker("destroy");

            var item = $(this).parents('#PanelCeladores').clone(true);

            $(this).parents('#PanelCeladores').find('.input-date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                scrollInput: false,
                date: new Date(Date.now())
            });

            $(item).find('.input-date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                scrollInput: false,
                date: new Date(Date.now())
            });

            $(this).closest('#AgregarCelador').hide();
            $(this).parents('#PanelCeladores').find('#QuitarCelador').show();




            //Incremento el indice
            $(item).find('input').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
                $this.val('');
            });
            $(item).find('select').each(function () {
                var $this = $(this);
                $this.attr('id', $this.attr('id').replace(/_(\d+)_/, function ($0, $1) {
                    return '_' + (+$1 + 1) + '_';
                }));
                $this.attr('name', $this.attr('name').replace(/\[(\d+)\]/, function ($0, $1) {
                    return '[' + (+$1 + 1) + ']';
                }));
            });



            //Reemplazo el boton
            $(item).find('#QuitarCelador').hide();
            $(item).find('#AgregarCelador').show();
            //cambio el id
            // $(item).toggleClass('row-Hide row');
            $(item).prependTo('#copiedCeladores');
            $(item).show();

        });


        $(document).on('click', '#QuitarTitular', function () {

            $(this).parents('#PanelTitulares').remove();

        });

        $(document).on('click', '#QuitarChofer', function () {

            $(this).parents('#PanelChoferes').remove();

        });

        $(document).on('click', '#QuitarCelador', function () {

            $(this).parents('#PanelCeladores').remove();

        });


        //VALIDACIONES

        function validoRequeridos() {
            var messageError = '';

            if ($("#TransportTypeId").val() == '') {
                messageError += "Tipo </br>";
            }

            if ($("#Expediente").val() == '') {
                messageError += "Expediente </br>";
            }

            if ($("#Dominio").val() == '') {
                messageError += "Dominio </br>";
            }

            if ($("#Marca").val() == '') {
                messageError += "Marca </br>";
            }

            if ($("#FechaInscripcionInicial").val() == '') {
                messageError += "Fecha Inscrip Inicial </br>";
            }

            if ($("#Desinfeccion").val() == '') {
                messageError += "Fecha Desinfección </br>";
            }

            if ($("#Constatacion").val() == '') {
                messageError += "Fecha Constatación </br>";
            }

            if ($("#VtoPoliza").val() == '') {
                messageError += "Vto Poliza </br>";
            }

            if ($("#VtoVTV").val() == '') {
                messageError += "VTV </br>";
            }


            if ($("#VtoMatafuego").val() == '') {
                messageError += "Vto Matafuego </br>";
            }

            if ($("#VtoConstanciaAFIP").val() == '') {
                messageError += "Const.Opcion AFIP </br>";
            }

            



            $('#PanelTitulares:visible').each(function () {
                if ($(this).find("#nombre").val() == '') {
                    messageError += "Nombre </br>";
                }
                if ($(this).find("#apellido").val() == '') {
                    messageError += "Apellido </br>";
                }
                if ($(this).find("#DNI").val() == '') {
                    messageError += "DNI </br>";
                }
                if ($(this).find("#Telefono").val() == '') {
                    messageError += "Teléfono </br>";
                }
                if ($(this).find("#CalleReal").val() == '') {
                    messageError += "Domicilio Real </br>";
                }
                if ($(this).find("#CalleConstituido").val() == '') {
                    messageError += "Domicilio Constituido </br>";
                }

                if ($(this).find("#PartidoReal").val() == '') {
                    messageError += "Partido Constituido </br>";
                }

                if ($(this).find("#PartidoConstituido").val() == '') {
                    messageError += "Partido Constituido </br>";
                }

                if ($(this).find("#Email").val() == '') {
                    messageError += "E-mail </br>";
                }

            });


            $('#PanelChoferes:visible').each(function () {
                if ($(this).find("#nombre").val() == '') {
                    messageError += "Nombre </br>";
                }
                if ($(this).find("#apellido").val() == '') {
                    messageError += "Apellido </br>";
                }
                if ($(this).find("#DNI").val() == '') {
                    messageError += "DNI </br>";
                }
                if ($(this).find("#VtoLicencia").val() == '') {
                    messageError += "Fecha Vto Licencia </br>";
                }
                //if ($(this).find("#VtoLibreta").val() == '') {
                //    messageError += "Fecha Vto Libreta </br>";
                //}

            });

            //$('#PanelCeladores:visible').each(function () {
            //    if ($(this).find("#nombre").val() == '') {
            //        messageError += "Nombre </br>";
            //    }
            //    if ($(this).find("#apellido").val() == '') {
            //        messageError += "Apellido </br>";
            //    }
            //    if ($(this).find("#DNI").val() == '') {
            //        messageError += "DNI </br>";
            //    }

            //    //if ($(this).find("#VtoLibreta").val() == '') {
            //    //    messageError += "Fecha Vto Libreta </br>";
            //    //}

            //});




            if (messageError != '') {
                messageError = "¡Debe completar los campos requeridos! ";// </br>+ messageError;
            }

            return messageError;

        }


         function validationIsTrue() {
             //Devuelve si tiene alguno seleccionado
             var valor1='';
             valor1 = validoRequeridos();
             if (valor1 != '') {
                 Lobibox.notify('warning', {
                     title: 'Advertencia',
                     msg: valor1,
                     height: 'auto'
                 });
                 return false;
             }
             else
                 return true;

         }


        //SUBMIT
         $("form").bind("keypress", function (e) {
             if (e.keyCode == 13) {
                 return false;
             }
         });

         function serializerForm() {
             var data = {};

             $("form").serializeArray().map(function (x) {
                 data[x.name] = x.value;
             });

             $("form").find('input:hidden[data-is-json]').each(function () {
                 data[$(this).attr('id')] = $(this).data('json');
             });

             return data;
         }



         $("form").submit(function (e) {
             $("#div-loader").show();
             e.preventDefault();
             if (validationIsTrue()) {
                 var ajaxSettings = {
                     type: 'POST',
                     async: false,
                     url: '@Url.Action("CreateTransport", "Transports")',
                     data: serializerForm(),
                     dataType: 'json',
                     success: function (dataResponse) {
                         $("#div-loader").hide();
                         if (dataResponse.responseCode == 0) {
                             $("#div-loader").hide();
                             Lobibox.notify('success', {
                                 title: 'Exito',
                                 msg: 'Los cambios se han grabado correctamente.'
                             });
                         } else {
                             Lobibox.notify('error', {
                                 title: 'Error',
                                 msg: 'Ah ocurrido un error, intente nuevamente.'
                             });
                         }
                         window.location.href = '@Url.Action("Index", "Transports")';
                     },
                     error: function (x, y, z) {
                         $("#div-loader").hide();
                         Lobibox.notify('error', {
                             title: 'Error',
                             msg: 'Ah ocurrido un error, intente nuevamente.'
                         });
                     }
                };

                return $.ajax(ajaxSettings);
             }
             else {
                 $("#div-loader").hide();
                return false;
             }

         });


    </script>

}



