@model Transporte.Models.Transport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransportTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dominio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dominio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VtoPoliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VtoPoliza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReciboPagoSeguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReciboPagoSeguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VtoVTV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VtoVTV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VtoMatafuego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VtoMatafuego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VtoConstanciaAFIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VtoConstanciaAFIP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
