
@model IEnumerable<Transporte.ViewModel.TransportIndexViewModel>


@if (TempData["message"] != null)
{
    if (TempData["message"].ToString().Contains("Lo sentimos"))
    {
        <div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-danger alert-dismissable">
                        <button id="btndismissable" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>@TempData["message"]
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-success alert-dismissable">
                        <button id="btndismissable" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>@TempData["message"]
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="modal fade" id="notificacionModal" role="dialog">
    <div class="modal-dialog">
        <form id="form-create" method="post" autocomplete="off">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccione la notificación</h4>
                </div>
                <div class="modal-body">
                    <form role="form" autocomplete="off">
                        <div class="form-group">
                            <label>Seleccione Documento</label>
                            @Html.DropDownList("selectNotification", new SelectList(ViewBag.listaNotificaciones, "Id", "Nombre"), new { @class = "form-control noDisabled" })
                        </div>
                    </form>
                </div>
                <div id="divcollection" style="display:none"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    @Html.ActionLink("Generar", "Reporte", "Transports", new { filePath = "variation-example", id = "linkInformeAdjunto", @type = "button", @class = "btn btn-primary" })
                    @*<button type="submit" id="btnImprimir" class="btn btn-primary">Imprimir</button>*@
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Progress Loader -->
<div id="div-loader" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8; display: none">
    <p style="position: absolute; color: White; top: 35%; left: 45%;">
        <img src="~/Images/loading.gif" alt="Loading..." />
    </p>
</div>


@Html.Partial("_Filtros");
@Html.Partial("_Table");


@section scripts {
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    @Scripts.Render("~/Scripts/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/buttons.flash.min.js")
    @Scripts.Render("~/Scripts/jszip.min.js")
    @Scripts.Render("~/Scripts/pdfmake.min.js")
    @Scripts.Render("~/Scripts/vfs_fonts.js")
    @Scripts.Render("~/Scripts/buttons.html5.min.js")
    @Scripts.Render("~/Scripts/buttons.print.min.js")
    <script>




    $(document).ready(function () {

        var Editar = '@ViewBag.Editar';
        var Baja = '@ViewBag.Baja';
        var Ver = '@ViewBag.Ver';
        var ViewBagNroTurno = '@ViewBag.NroTurno';
        var Action;
        var ArrayIds = [];

        if (ViewBagNroTurno == '')
            Action = "@Url.Action("GetsSearch")";
        else
            Action = "@Url.Action("GetSearchBy", new { Codigo = "_Switch" })".replace("_Switch", ViewBagNroTurno);



        var table = $('#dataTables-Index').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: 'Copiar Grilla',
                    //className: "btn btn-secondary",
                    footer: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Exportar Grilla a Excel',
                    //className: "btn btn-secondary",
                    footer: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6,7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Exportar Grilla a PDF',
                    footer: true,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    text: 'Notificar a Seleccionados',
                    className: "btnNotificar",
                    //className: "btn btn-secondary",
                    action: function (e, dt, node, config) {
                        popupNotificacion();
                    }
                },
                {
                    text: 'Seleccionar Todos',
                    className: "btnSeleccionarTodos",
                    //className: "btn btn-secondary",
                    action: function (e, dt, node, config) {
                        seleccionarTodos();
                    }
                }
            ],
                "ajax":
                {
                    url: "_Action".replace("_Action",Action),
                    type: "post",
                    dataSrc: ""
                },
                "columns": [
                    { "data": "id", defaultContent: '', className: 'px150' },
                    { "data": "FechaAlta", className: 'px200' },
                    { "data": "TransportType", className: 'px200' },
                    { "data": "Dominio", className: 'px200' },
                    { "data": "Marca", className: 'px200' },
                    { "data": "Modelo", className: 'px200' },
                    { "data": "Expediente", className: 'px200' },
                    { "data": "Estado", className: 'px200' }
                ],
                rowId: 'Id',
                responsive: true,
                ordering: true,
                searching: false,
               // "order": [[1, "desc"]],
                scrollX: true,
                //"autoWidth": true,
                "fnCreatedRow": function (nRow, aData, iDataIndex) {
                    //Agrego las
                    // Add a class to the cell in the first column
                    $(nRow).children(':nth-child(1)').addClass('td-btn');

                    //Agrego el boton
                    if (Ver == 'True') {
                        //Ver
                        $('td:eq(0)', nRow).append("<span class='fa fa-eye span-btn padding-boton' type='button' value='C' data-toggle='tooltip' data-placement='top' title='Ver' id='btn_Ver'/> ");

                    }

                    if (Editar == 'True') {
                        //Modificar
                        $('td:eq(0)', nRow).append("<span class='fa fa-pencil span-btn padding-boton' type='button' value='E' data-toggle='tooltip' data-placement='top' title='Modificar' id='btn_Editar' />");
                    }
                    if (Baja == 'True') {
                        //Borrar

                        $('td:eq(0)', nRow).append("<span data-toggle='modal' class='padding-boton' data-target='#eliminar-modal'><span class='fa fa-trash span-btn-dtl' type='button' value='D' data-toggle='tooltip' data-placement='top' title='Eliminar' id='btn_Eliminar' /></span>");
                    }

                    if (Ver == 'True') {
                        //Borrar

                        $('td:eq(0)', nRow).append("<span data-toggle='modal' ><span class='fa fa-print span-btn'  type='button' value='D' data-toggle='tooltip' data-placement='top' title='Selecciona para Imprimir' id='btn_Imprimir' /></span>");
                    }




            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData.Estado == "VENCIDO") {
                    $('td', nRow).addClass('danger');
                }
                else if (aData.Estado == "POR VENCER") {
                    $('td', nRow).addClass('warning');
                }
                else if (aData.Estado == "CORRECTO") {
                    $('td', nRow).addClass('success');
                }
            },
            "fnFooterCallback": function (nRow, aaData, iStart,
                iEnd, aiDisplay) {
                var cantidadRegistros = 0;
                x = aaData;
                $.each(x, function (key, value) {
                    cantidadRegistros = cantidadRegistros + 1;
                })
                $(nRow).find('.foot').eq(0).html("Cantidad de Transportes: " + cantidadRegistros);
               }
            });


        });

     $(document).on('click', '#btn-crear', function () {
        var baseUrl = "@Url.Action("Create", "Transports")";
        window.location.href = baseUrl;
    });

    $(document).on('click', '#btn_Editar', function () {
        var id = $(this).closest('tr').attr('id')
        var baseUrl = "@Url.Action("Edit", "Transports", new { id="ID"})";
        window.location.href = baseUrl.replace("ID",id);
    });

    $(document).on('click', '#btn_Ver', function () {
        var id = $(this).closest('tr').attr('id')
        var baseUrl = "@Url.Action("Details", "Transports", new { id="ID"})";
        window.location.href = baseUrl.replace("ID",id);
    });



    $(document).on('click', '#btn_Imprimir', function () {
        if ($(this).hasClass('span-btn')) {
            $(this).removeClass('span-btn');
            $(this).addClass('span-btn-print');


        }
        else {
            $(this).removeClass('span-btn-print');
            $(this).addClass('span-btn');
        }

        });

        $(document).on('click', '#linkInformeAdjunto', function () {
            $('#notificacionModal').modal('hide');
            Lobibox.notify('success', {
                title: 'Exito',
                msg: 'El archivo se descargara en unos segundos'
            });
        });
        

    $(document).on('click', '#btn_Eliminar', function () {
        Delete(this);
    });


        function seleccionarTodos() {
            var seleccionarTodos = false;
            if ($(".btnSeleccionarTodos").hasClass("TodosSeleccionados")) {
                $(".btnSeleccionarTodos").removeClass("TodosSeleccionados");
                seleccionarTodos = false;
            }
            else {
                $(".btnSeleccionarTodos").addClass("TodosSeleccionados");
                seleccionarTodos = true;
            }
                

            var table = $('#dataTables-Index').DataTable();
            table.rows().every(function (rowIdx, tableLoop, rowLoop) {
                //var data = this.data();
                var nodo = $(this.node()).find('#btn_Imprimir');
                if (seleccionarTodos)//Si tiene que seleccionar todos
                {                    
                    if (nodo.hasClass('span-btn')) {
                        nodo.removeClass('span-btn');
                        nodo.addClass('span-btn-print');
                    }
                }
                else {
                    if (nodo.hasClass('span-btn-print')) {
                        nodo.removeClass('span-btn-print');
                        nodo.addClass('span-btn');
                    }
                }
            })
        }

        function popupNotificacion() {
            $("#div-loader").show();
            var table = $('#dataTables-Index').DataTable();
            var ids = [];
            table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                var data = this.data();
                if ($(this.node()).find('#btn_Imprimir').hasClass('span-btn-print')) {
                    ids.push(data.Id);
                }
            });
            if (ids.length === 0) {
                $("#div-loader").hide();
                Lobibox.notify('warning', {
                    title: 'Cuidado',
                    msg: 'Debe hacer click en al menos un registro (icono impresora)'
                });
            }
            else {
                $("#div-loader").hide();
                ArrayIds = [];
                ArrayIds = ids;

                $('#notificacionModal').modal('toggle');
               // alert(ids);

                //$('#divcollection').append(ids);
                //$('#divcollection').data(ids);
            };

        }


        $('#notificacionModal').on('shown.bs.modal', function (e) {
            
                GetNotificationUrl();
        });

        $('#selectNotification').on('change', function (e) {
                GetNotificationUrl();
        });

        function GetNotificationUrl() {
            var idObject = $("#selectNotification option:selected").val();
           // var ids = ArrayIds;//$('#notificacionModal').find('#divcollection').val();
            var link;

            if (ArrayIds.length > 0) {
//                link = "@Html.Raw(@Url.Action("ReportArray", "Transports") + "?" + string.Join("&", new int[] { 1, 2, 3 }.Select(x => "TransportId=" + x)))";
                //Armo la url con los ids seleccionados
                link = "/Transports/ReportArray?";
                for (var i = 0; i < ArrayIds.length; i++) {
                    if (i > 0) {
                        link+="&";
                    }
                    link+= "TransportId=" + ArrayIds[i];

                }
                link += "&NotificacionId=" + idObject;
            }
            else {
                link = null;
            }

            
            
            $('#notificacionModal').find('a').attr("href", link);

            @*var link = "@Html.Raw(@Url.Action("ReportArray", "Transports", new { @TransportId = "_myTid_", @NotificacionId = "_myid_" }))";
            var link2 = link.replace('_myid_', idObject);

            $('#notificacionModal').find('a').attr("href", link2.replace('_myTid_', ArrayIds));*@
        }


        function Delete(a) {
            var id = $(a).closest('tr').attr('id')

            Lobibox.confirm({
                title: 'Atención',
                msg: "¿Esta seguro que desea eliminar el Transporte?",
                callback: function ($this, type, ev) {
                    if (type === 'yes') {
                    $.ajax({
                    url: '@Url.Action("Delete", "Transports")',
                    type: 'POST',
                    data: JSON.stringify({
                        "id": id
                    }),
                    contentType: 'application/json; charset=utf-8;',
                    success: function (result) {
                        $("#dataTables-Index").dataTable().fnReloadAjax();//Recargo la grilla
                        $("#div-loader").hide();
                        Lobibox.notify('success', {
                            title: 'Exito',
                            msg: 'Los cambios se han grabado correctamente.'
                        });
                    },
                    error: function (response) {
                        $("#div-loader").hide();
                            Lobibox.notify('error', {
                                title: 'Error',
                                msg: 'Ah ocurrido un error, intente nuevamente.'});
                        }
                     });
                    };
}

            });
        }


    </script>

    @*Table*@
    <script>
        $(document).ready(function () {
            $(".select-buscador").select2();

            //Datepicker
            $.datetimepicker.setLocale('es');

            $('.input-date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                scrollInput: false,
                date: new Date(Date.now())
            });

            $('#fecha-inicio').datetimepicker({
                locale: 'es',
                date: new Date(Date.now())
            });
            $('#fecha-fin').datetimepicker({
                locale: 'es',
                date: new Date(Date.now())
            });

            $('.tags-group').find('.alert').hide();

        });

        $(".filters").hide();

        $("#btn-filter").click(function () {
            $(this).toggleClass('btn-ghost-neutral btn-neutral').blur();
            $('.filters').slideToggle(400);
        });

        $("#btn-apply").click(function () {
            $('.filters').slideToggle(400, function () {
                $('#btn-filter').toggleClass('btn-ghost-neutral btn-neutral');
                completarTags();
                buscar();
            });
        });

        $('.tags-group').find(".close").click(function () {
            var idTag = $(this).parents('.alert').attr('id');
            $(this).parents('.alert').hide();
            var child = $(this).parents('.alert');
            child.children('.tagId').text('');
            child.children('.tagValue').text('');

            //Limpio el combo del tag que cerro
            switch (idTag) {
                case "tagTipo":
                    $('#Tipo').val('').change();
                    break;
                case "tagExpediente":
                    $('#Expediente').val('').change();
                    break;
                case "tagDominio":
                    $('#Dominio').val('');
                    break;
                case "tagApellido":
                    $('#Apellido').val('');
                    break;
                case "tagDNI":
                    $('#DNI').val('');
                    break;
                case "tagEstado":
                    $('#Estado').val('').change();;
                    break;
                case "tagFechaDesde":
                    $('#fecha-inicio').val('');
                    break;
                case "tagFechaHasta":
                    $('#fecha-fin').val('');
                    break;

                default:
            }


            buscar();
        });

        function buscar() {
            $("#div-loader").show();
            var Tipo = $('#tagTipo').find('.tagId').text();
            var Expediente = $('#tagExpediente').find('.tagId').text();
            var Dominio = $('#tagDominio').find('.tagId').text();
            var Apellido = $('#tagApellido').find('.tagId').text();
            var DNI = $('#tagDNI').find('.tagId').text();
            var Estado = $('#tagEstado').find('.tagId').text();
            var FechaDesde = $('#tagFechaDesde').find('.tagId').text();
            var FechaHasta = $('#tagFechaHasta').find('.tagId').text();

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SearchTransport", "Transports")",
                        data: JSON.stringify({
                            "Tipo": Tipo,
                            "Expediente": Expediente,
                            "Dominio": Dominio,
                            "Apellido": Apellido,
                            "DNI": DNI,
                            "Estado": Estado,
                            "FechaDesde": FechaDesde,
                            "FechaHasta": FechaHasta
                        }),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8;',
                        success: function (dataNew) {
                            $("#div-loader").hide();
                            if (dataNew.length > 0) {
                                var datatable = $('#dataTables-Index').DataTable();
                                datatable.rows().remove().draw();
                                datatable.rows.add(dataNew); // Add new data
                                datatable.columns.adjust().draw(); // Redraw the DataTable
                            }
                            else {
                                var datatable = $('#dataTables-Index').DataTable();
                                datatable.rows().remove().draw();
                                datatable.rows.add(dataNew); // Add new data
                                datatable.columns.adjust().draw(); // Redraw the DataTable
                            }
                        }
                    });
            }

            function completarTags() {
                //Tomo el valor de cada uno de los combos

                if ($('#Tipo').val() != null && $('#Tipo').val() != '') {
                    $('#tagTipo').find('.tagId').text($('#Tipo').val());
                    $('#tagTipo').find('.tagValue').text($("#Tipo option:selected").text());
                    $('#tagTipo').css("display", "inline-block");
                }
                else {
                    $('#tagTipo').find('.tagId').text('');
                    $('#tagTipo').find('.tagValue').text('');
                    $('#tagTipo').hide();
                }

                if ($('#Expediente').val() != null && $('#Expediente').val() != '') {
                    $('#tagExpediente').find('.tagId').text($('#Expediente').val());
                    $('#tagExpediente').find('.tagValue').text($('#Expediente').val());
                    $('#tagExpediente').css("display", "inline-block");
                }
                else {
                    $('#tagExpediente').find('.tagId').text('');
                    $('#tagExpediente').find('.tagValue').text('');
                    $('#tagExpediente').hide();
                }

                if ($('#Dominio').val() != null && $('#Dominio').val() != '') {
                    $('#tagDominio').find('.tagId').text($('#Dominio').val());
                    $('#tagDominio').find('.tagValue').text($('#Dominio').val());
                    $('#tagDominio').css("display", "inline-block");
                }
                else {
                    $('#tagDominio').find('.tagId').text('');
                    $('#tagDominio').find('.tagValue').text('');
                    $('#tagDominio').hide();
                }


                if ($('#Apellido').val() != null && $('#Apellido').val() != '') {
                    $('#tagApellido').find('.tagId').text($('#Apellido').val());
                    $('#tagApellido').find('.tagValue').text($('#Apellido').val());
                    $('#tagApellido').css("display", "inline-block");
                }
                else {
                    $('#tagApellido').find('.tagId').text('');
                    $('#tagApellido').find('.tagValue').text('');
                    $('#tagApellido').hide();
                }

                if ($('#DNI').val() != null && $('#DNI').val() != '') {
                    $('#tagDNI').find('.tagId').text($('#DNI').val());
                    $('#tagDNI').find('.tagValue').text($('#DNI').val());
                    $('#tagDNI').css("display", "inline-block");
                }
                else {
                    $('#tagDNI').find('.tagId').text('');
                    $('#tagDNI').find('.tagValue').text('');
                    $('#tagDNI').hide();
                }

                if ($('#Estado').val() != null && $('#Estado').val() != '') {
                    $('#tagEstado').find('.tagId').text($('#Estado').val());
                    $('#tagEstado').find('.tagValue').text($("#Estado option:selected").text());
                    $('#tagEstado').css("display", "inline-block");
                }
                else {
                    $('#tagEstado').find('.tagId').text('');
                    $('#tagEstado').find('.tagValue').text('');
                    $('#tagEstado').hide();
                }
                if ($('#fecha-inicio').val() != null && $('#fecha-inicio').val() != '') {
                    $('#tagFechaDesde').find('.tagId').text($('#fecha-inicio').val());
                    $('#tagFechaDesde').find('.tagValue').text($('#fecha-inicio').val());
                    $('#tagFechaDesde').css("display", "inline-block");
                }
                else {
                    $('#tagFechaDesde').find('.tagId').text('');
                    $('#tagFechaDesde').find('.tagValue').text('');
                    $('#tagFechaDesde').hide();
                }

                if ($('#fecha-fin').val() != null && $('#fecha-fin').val() != '') {
                    $('#tagFechaHasta').find('.tagId').text($('#fecha-fin').val());
                    $('#tagFechaHasta').find('.tagValue').text($('#fecha-fin').val());
                    $('#tagFechaHasta').css("display", "inline-block");
                }
                else {
                    $('#tagFechaHasta').find('.tagId').text('');
                    $('#tagFechaHasta').find('.tagValue').text('');
                    $('#tagFechaHasta').hide();
                }


            }



    </script>
}

