@model Transporte.ViewModel.NotificationViewModel
@using Transporte.Helpers
@using Transporte.ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string currentController = Html.ViewContext.RouteData.GetRequiredString("controller");
    string extension = "(docx,doc)";
}

<style>
    .btn-sm {
        font-size: 12px;
        height: 30px;
        margin-bottom: 3px;
    }


    .ck-sm {
        font-size: 12px;
    }


    label {
        font-size: 12px;
    }


    .sol-container {
        padding: 0px;
    }

    .red {
        color: #a94442;
    }

    .input_ancho {
        width: 10%;
    }

    #divExtension {
        color: darkgrey;
        font-size: x-small;
        padding-left: 5px;
    }

    #divLabelExtension {
        display: -webkit-box;
    }
</style>

@using (Html.BeginForm("Create", "Notifications", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="page-wrapper">
        <div class="row">
            <h1 class="page-header" style="margin: 10px;">Notificaciones</h1>
            <form id="form-create" role="form">
                <div class="col-lg-12">
                    <!-- /.Panel de Datos de Alta -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Datos de la notificación
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label>Nombre del Documento</label>
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @type = "text", @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <label>Descripción del Documento</label>
                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @type = "text", @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-4" id="divArchivo">
                                        <label id="divLabelExtension">Documento Word <div id="divExtension"> @extension </div> </label>
                                        @Html.HiddenFor(m => m.Documento, new { id = "hiddenArchivoBorrado" })
                                        @Html.HiddenFor(m => m.DocumentoBorrado)
                                        <div class="input-group input-file" name="fileVideo">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-choose btn-sm" type="button">Elegir</button>
                                            </span>
                                            <input id="input-ArchivoActa" name="inputArchivoActa" value="@Path.GetFileName(Model.Documento)" type="text" class="form-control input-sm" placeholder='Selecciona el Documento...' required />
                                            @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-reset btn-sm" type="button">Borrar</button>
                                            </span>

                                        </div>
                                        
                                        @if (Model.Documento != null)
                                        {
                                            <p>@Html.ActionLink(Path.GetFileName(Model.Documento), "Download", "Settings", new { filePath = Model.Documento, id = "linkActaAdjunta" }, null)</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                    @if (PermissionViewModel.TienePermisoAlta(WindowHelper.GetWindowId("ABM Maestros", "Notificaciones")))
                    {
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    }

                </div>
                <!-- /.col-lg-12 -->
            </form>
            <!-- /.form -->
        </div>

    </div>



}

@section scripts {
    <script>
        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' accept='.docx,.doc' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                            $(this).parents('#divArchivo').children('p').hide();
                            //$('#ActaAdjuntaBorrada').val('True');
                            $(this).parents('#divArchivo').children('#hiddenArchivoBorrado').val('True');
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                            $(this).parents('#divArchivo').children('p').hide();
                            //$('#ActaAdjuntaBorrada').val('True');
                            $(this).parents('#divArchivo').children('#hiddenArchivoBorrado').val('True');

                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function () {
            bs_input_file();
        });
    </script>
}