
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            <p style="text-align: center;"><strong><u><span style="font-size: 16.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">C&Eacute;DULA DE NOTIFICACI&Oacute;N.</span></u></strong></p>
            <p style="line-height: normal;"><span style="font-family: 'Arial','sans-serif';">SR/A:<strong> @Model.ApellidoTitular @Model.NombreTitular .</strong></span></p>
            <p style="line-height: normal;"><span style="font-family: 'Arial','sans-serif';">DOMICILIO:<strong> @Model.CalleRealTitular.</strong></span></p>
            <p style="line-height: normal;"><span style="font-family: 'Arial','sans-serif';">PARTIDO:<strong> @Model.PartidoRealTitular.</strong></span></p>
            <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">REF.EXPTE N&deg; <strong>@Model.Expediente</strong> CUERPOS I, II y III, SERVICIO DE TAXIS</span></p>
            <p style="margin-bottom: .0001pt; text-align: center; line-height: normal;"><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">PARADA N&deg;<strong>@Model.ParadaNro</strong> PLAZA N&deg;<strong>@Model.PlazaNro</strong>, DOMINIO <strong>@Model.Dominio.-</strong></span></p>
            <p style="margin-bottom: .0001pt; line-height: 150%;"><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">De mi mayor consideraci&oacute;n:</span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 92.15pt; line-height: 150%;"><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">Tengo el agrado de dirigirme a usted, a fin de poner en su conocimiento que deber&aacute; concurrir ante esta Subsecretar&iacute;a de Seguridad Vial y Movilidad Urbana (Direcci&oacute;n de Transporte), </span><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">al solo efecto de <strong>CONSTITUIR DOMICILIO EN EL PARTIDO DE FLORENCIO VARELA</strong>. Como as&iacute; tambi&eacute;n, exhibir original y hacer entrega en fotocopia de: <strong><u>Recibo de pago de seguro automotor - Licencia nacional de conducir del Sr.@Model.ChoferNombre.</u></strong></span></p>
            <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; text-indent: 92.15pt; line-height: 150%;"><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">En otro orden de cosas, presentar el veh&iacute;culo dominio <strong>@Model.Dominio, </strong>para constatar las caracter&iacute;sticas que re&uacute;ne para el ejercicio de la actividad, proceder a la devoluci&oacute;n de la desinfecci&oacute;n adeudada del 2018, retirar la primera desinfecci&oacute;n del 2019 para ser debidamente cumplimentada y abonar derecho especial de funcionamiento adeudados a la fecha.</span></p>
            <p style="margin-bottom: .0001pt; text-align: center; line-height: 150%;"><strong><u><span style="font-family: 'Arial','sans-serif';">Presentarse dentro de los 10 (DIEZ) d&iacute;as de recibida la presente.</span></u></strong></p>
            <p style="margin-bottom: .0001pt; text-align: center; line-height: 150%;"><strong><u><span style="font-family: 'Arial','sans-serif';">Bajo apercibimiento de Ley.</span></u></strong></p>
            <p style="margin-bottom: .0001pt;"><span style="font-family: 'Arial','sans-serif';">Atenci&oacute;n al p&uacute;blico de lunes a viernes de </span><strong><span style="font-size: 16.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">08:30 a 13:30</span></strong><span style="font-family: 'Arial','sans-serif';"> horas.</span></p>
            <p style="margin-bottom: .0001pt;"><span style="font-family: 'Arial','sans-serif';">Lavalle N&ordm; 550 entre Colombia y Entre R&iacute;os.</span></p>
            <p style="margin-bottom: .0001pt;"><span style="line-height: 115%; font-family: 'Arial','sans-serif';">Tel&eacute;fono Directo: </span><strong><span style="font-size: 16.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">4355-7898.-</span></strong></p>
            <p style="margin-bottom: .0001pt;"><strong><span style="font-family: 'Arial','sans-serif';">SUBSECRETAR&Iacute;A DE SEGURIDAD VIAL Y MOVILIDAD URBANA.</span></strong></p>
            <p style="margin-bottom: .0001pt;"><strong><span style="font-family: 'Arial','sans-serif';">DIRECCION DE TRANSPORTE, </span></strong></p>
            <p style="margin-bottom: .0001pt;">&nbsp;</p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">FIRMA: ---------------------------------------------</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">ACLARACI&Oacute;N: ----------------------------------</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">DNI N&ordm;: ----------------------------------------------</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">&nbsp;</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">CAR&Aacute;CTER: --------------------------------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FECHA: _____/_____/2019.-</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;">&nbsp;</p>
            <p style="margin-left: 0cm;"><strong><span style="font-size: 10.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">CEDULA DE NOTIFICACION DILIGENCIADA POR EL SR/SRA</span></strong></p>
            <p style="margin-left: 0cm; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">INSPECTOR ACTUANTE CON FECHA&nbsp;&nbsp;&nbsp; ___________/___________/___________</span></strong></p>
            <p style="margin-left: 0cm; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 115%; font-family: 'Arial','sans-serif';">&nbsp;</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">FIRMA: ---------------------------------------------</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">ACLARACI&Oacute;N: ----------------------------------</span></strong></p>
            <p style="margin-bottom: .0001pt; line-height: normal;"><strong><span style="font-size: 10.0pt; font-family: 'Arial','sans-serif';">LEGAJO: ----------------------------------------</span></strong></p>
            <p style="text-align: justify; text-justify: inter-ideograph; text-indent: 120.5pt; line-height: 150%;"><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">&nbsp;</span></strong><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">&nbsp;</span></strong></p>
            <p style="line-height: 150%; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">OBSERVACIONES: </span></strong></p>
            <p style="line-height: 150%; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">_____________________________________________________________________</span></strong></p>
            <p style="line-height: 150%; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';">_____________________________________________________________________</span></strong></p>
            <p style="line-height: 150%; tab-stops: 318.75pt;"><strong><span style="font-size: 10.0pt; line-height: 150%; font-family: 'Arial','sans-serif';"><!-- pagebreak --></span></strong></p>

        </div>
    </body>
</html>

